---
- name: copy blog config file
  copy:
    src: caddy_confs/blog.caddyfile
    dest: /etc/caddy/conf.d/blog.caddyfile
    owner: root
    mode: 0644
  notify: restart caddy

- name: pull down static site from Github
  ansible.builtin.git:
    repo: https://github.com/NuclearPine/blog-static
    dest: /var/www/pyrah.us
  tags: ["update-blog", "never"]
  become: true
